<h1>Listing posts</h1>

<div id="categories">
  <h4> Ongoing </h4>
  <ol class="post-category">
    <% @post_presenter.ongoing.each do |post| %>
      <li data-post-id="<%= post.id %>">
        <%= post.title %>
      </li>
    <% end %>
  </ol>
  <h4> Upcoming </h4>
  <ol class="post-category">
    <% @post_presenter.upcoming.each do |post| %>
      <li data-post-id="<%= post.id %>">
        <%= post.title %>
      </li>
    <% end %>
  </ol>
  <h4> This week </h4>
  <ol class="post-category">
    <% @post_presenter.this_week.each do |post| %>
      <li data-post-id="<%= post.id %>">
        <%= post.title %>
      </li>
    <% end %>
  </ol>
</div>

<div id="featured" data-save-picks-url="<%= save_picks_path %>">
  <h4> Featured </h4>
  <ol class="post-category">
    <% @post_presenter.picks.each do |post| %>
      <li data-post-id="<%= post.id %>">
      <%= post.title %>
      </li>
    <% end %>
  </ol>
  <%= link_to 'Save', 'javascript:;', :id => 'submit-picks' %>
</div>


<div id="ranking">
  <h4> Ranking (Ordered by like count)</h4>
  <ol>
    <% @post_presenter.ranking.each do |post| %>
      <li>
      <%= post.title %>
      </li>
    <% end %>
  </ol>
</div>
