<h1>Listing posts</h1>

<div id="categories">
  <h4> Ongoing </h4>
  <ol class="post-category">
    <%= render @post_presenter.ongoing %>
  </ol>
  <h4> Upcoming </h4>
  <ol class="post-category">
    <%= render @post_presenter.upcoming %>
  </ol>
  <h4> This week </h4>
  <ol class="post-category">
    <%= render @post_presenter.this_week %>
  </ol>
</div>

<div id="featured" data-save-picks-url="<%= save_picks_path %>">
  <h4> Featured </h4>
  <ol class="post-category">
    <%= render @post_presenter.picks %>
  </ol>
  <%= link_to 'Save', 'javascript:;', :id => 'submit-picks' %>
</div>

<div id="ranking">
  <h4> Ranking (Ordered by like count)</h4>
  <ol>
    <%= render @post_presenter.ranking %>
  </ol>
</div>
